# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

accelerate
langchain
python-dotenv
ipykernel
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
sentence_transformers
numpy
librosa
wandb
ctransformers
langchain-google-community[texttospeech]
pyttsx3
gtts